body
{margin: 0;
}
#page
{
	position: absolute;
left:0;
top:0;
width:1000px;
height:738px;
}
#top_bar
{
	position:absolute;
	left:0;
	top:0;
	width:1000px;
	height:70px;
	background-color:#369;
	color:fff;
}